.Individual-Icon-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.Post-profile-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}
.profile-intro-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    padding: 0.3em 0.5em;
}
.profile-intro-container>p{
    font-size: 11px;
    color: grey;
}
.profile-intro-container>h6{
    font-size: 14px;
    cursor: pointer;
}
.Main-post-container{
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
    padding: 0.6em 0.5em;
    margin-top: 15px;
}
.Main-post-container>hr{
    margin: 0 !important;
}
.post-comment-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3em 0.6em;
    gap:25px;
    background-color: white;
  }
  .post-comment-container > input {
      align-self: flex-end;
      border: 0.5px solid grey;
      border-radius: 27px;
      outline: none;
      flex: 0.83 1;
      background-color: none;
      padding: 0.5em 0.9em;
      cursor: pointer;
  }
  @media (prefers-reduced-motion: no-preference) {
    #like:hover {
      animation: jump 2 1.5s ease-in-out;
    }
  }
@keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }